<div fxLayoutAlign="space-between">
    <button mat-button [mat-dialog-close]="true">
        <mat-icon matListIcon>close</mat-icon>
    </button>

    <button mat-button (click)="this.isEditing = !this.isEditing"> <mat-icon matListIcon>edit</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <form fxLayout="column" fxLayoutGap="2vh" #editForm="ngForm" (ngSubmit)="finishEditing(editForm)">
        <!-- ROLE -->
        <mat-card *ngIf="this.isEditing && this.userService.currentUser?.role === 'admin'">
            <div fxLayoutGap="1vw" fxLayoutAlign="center center">

                <mat-icon>person</mat-icon>
                <mat-form-field fxFlex="100%" hintLabel="Users role">
                    <input matInput type="text" placeholder="Role" ngModel name="role" minlegth="8"
                        [(ngModel)]="this.profileForInput.role" password required #roleInput="ngModel">
                </mat-form-field>
            </div>
        </mat-card>


        <!-- NAME -->
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                <mat-icon>person</mat-icon>
                <div fxLayout="column" *ngIf="!this.isEditing">
                    <mat-card-subtitle>Name</mat-card-subtitle>
                    <span>{{ this.profileForInput.name }}</span>
                </div>

                <mat-form-field fxFlex="100%" *ngIf="this.isEditing">
                    <input matInput type="name" placeholder="Your name" ngModel name="name"
                        [(ngModel)]="this.profileForInput.name" required #nameInput="ngModel">
                    <mat-hint align="end">Name</mat-hint>
                    <mat-error *ngIf="nameInput.hasError('required')">Name is required</mat-error>

                </mat-form-field>

            </div>
        </mat-card>
        <!-- LAST NAME  -->
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                <mat-icon>person</mat-icon>

                <div fxLayout="column" *ngIf="!this.isEditing">
                    <mat-card-subtitle>Last Name</mat-card-subtitle>
                    <span>{{ this.profileForInput.lastname }}</span>
                </div>

                <mat-form-field fxFlex="100%" *ngIf="this.isEditing">
                    <input matInput type="name" placeholder="Your last name" ngModel name="lastName"
                        [(ngModel)]="this.profileForInput.lastname" required #lastName="ngModel">
                    <mat-hint align="end">Last Name</mat-hint>
                    <mat-error *ngIf="lastName.hasError('required')">Last Name is required</mat-error>

                </mat-form-field>

            </div>
        </mat-card>

        <!-- ADRESS -->
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                <mat-icon>house</mat-icon>

                <div fxLayout="column" *ngIf="!this.isEditing">
                    <mat-card-subtitle>Address</mat-card-subtitle>
                    <span>{{ this.profileForInput.address }}</span>
                </div>

                <mat-form-field fxFlex="100%" *ngIf="this.isEditing">
                    <input matInput type="text" placeholder="Your Address" ngModel name="address"
                        [(ngModel)]="this.profileForInput.address" required #address="ngModel">
                    <mat-hint align="end">Address</mat-hint>
                    <mat-error *ngIf="address.hasError('required')">Address is required</mat-error>

                </mat-form-field>
            </div>
        </mat-card>

        <mat-card>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                <mat-icon>shopping_cart</mat-icon>

                <div fxLayout="column" *ngIf="!this.isEditing">
                    <mat-card-subtitle>Clothing Type</mat-card-subtitle>
                    <span>{{ this.profileForInput.favoriteClothingType }}</span>
                </div>

                <mat-form-field fxFlex="100%" *ngIf="this.isEditing">
                    <mat-label>Clothing Type</mat-label>
                    <mat-select [(ngModel)]="this.profileForInput.favoriteClothingType" name="clothingType">
                        <mat-option value="casual">Casual</mat-option>
                        <mat-option value="sports wear">Sports Wear</mat-option>
                        <mat-option value="official">Official</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card>

        <mat-card>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                <mat-icon>mail</mat-icon>

                <div fxLayout="column" *ngIf="!this.isEditing">
                    <mat-card-subtitle>Email</mat-card-subtitle>
                    <span>{{ this.profileForInput.email }}</span>
                </div>

                <mat-form-field fxFlex="100%" *ngIf="this.isEditing">
                    <input matInput type="email" placeholder="Your email" ngModel name="email"
                        [(ngModel)]="this.profileForInput.email" email required #emailInput="ngModel">
                    <mat-hint align="end">Email</mat-hint>
                    <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="!emailInput.hasError('required')">Email has incorrect format</mat-error>

                </mat-form-field>

            </div>
        </mat-card>

        <!-- Password -->
        <mat-card *ngIf="this.isEditing">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">

                <mat-icon>lock</mat-icon>
                <mat-form-field fxFlex="100%" hintLabel="Minimum 8 characters">
                    <input matInput type="password" placeholder="Your password" ngModel name="password" minlegth="8"
                        [(ngModel)]="this.profileForInput.password" password required #passwordInput="ngModel">

                    <mat-hint align="end">{{ passwordInput.value?.length }} / 8</mat-hint>
                </mat-form-field>
            </div>
        </mat-card>


        <!-- Dugme, kao okidac funkcionalnost -->
        <button *ngIf="this.isEditing" mat-raised-button type="submit" color="primary">Update user</button>

        <button *ngIf="this.isEditing" mat-button (click)="deleteUser()" [mat-dialog-close]="true">
            Delete user
        </button>

        <button mat-button *ngIf="this.userService.currentUser?.id === profileForInput.id" (click)="logOut()"
            [mat-dialog-close]="true">
            Log out
        </button>


    </form>


</mat-dialog-content>