<h2 mat-dialog-title>{{ isEditing ? "Edit dialog" : "Add dialog" }}</h2>
<div mat-dialog-content>
    <p>Set item amount: {{ data.item.name }}</p>
    <mat-form-field>
        <input matInput type="number" placeholder="Amount" [(ngModel)]="amount" required>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="{amount: amount}" cdkFocusInitial>{{ isEditing ? "Edit item amount" : "Add to
        cart"
        }}</button>
</div>