<!-- fxHide.gt-xs -->

<mat-sidenav-container>
    <mat-sidenav fxHide.gt-xs #sidenav>
        <mat-nav-list>
            <a *ngIf="!userService.currentUser" mat-list-item routerLink="/login" (click)="sidenav.close()">
                <mat-icon>login</mat-icon>Login
            </a>

            <a mat-list-item routerLink="/cart" (click)="sidenav.close()" *ngIf="userService.currentUser">
                <mat-icon>shopping_cart</mat-icon>
                Cart
            </a>
            <a mat-list-item routerLink="/" (click)="sidenav.close()">
                <mat-icon>storefront</mat-icon>
                Shop
            </a>
            <button mat-raised-button color="warn" *ngIf="userService.currentUser"
                (click)="openProfile(this.userService.currentUser.id)">
                {{ this.userService.currentUser.email }}
            </button>

            <a mat-list-item *ngIf="userService.currentUser" routerLink="/"
                (click)="logOut() ; sidenav.close()"><mat-icon>logout</mat-icon>
                Odjavi se
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-icon fxHide.gt-xs (click)="sidenav.toggle()">menu</mat-icon>
            <div>
                <a routerLink="/">{{title}}</a>
            </div>
            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
                <a routerLink="/">Shop</a>
                <!-- <a routerLink="/register">Register</a> -->
                <a routerLink="/cart" *ngIf="userService.currentUser"><mat-icon>shopping_cart</mat-icon></a>
                <!-- <a [fxHide]="!isSignedIn" (click)="logIn()" routerLink="/login">Login</a>
                <a [fxHide]="isSignedIn" (click)="logIn()" routerLink="/profile">sasa@gmail.com</a> -->

                <button mat-raised-button color="warn" *ngIf="userService.currentUser"
                    (click)="openProfile(this.userService.currentUser.id)">
                    {{ this.userService.currentUser.email }}
                </button>
                <mat-icon *ngIf="!userService.currentUser" routerLink="/login">person</mat-icon>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>