<!-- fxHide.gt-xs -->

<mat-sidenav-container>
    <mat-sidenav fxHide.gt-xs #sidenav>
        <mat-nav-list>
            <a *ngIf="!userService.currentUser" mat-list-item routerLink="/login" (click)="sidenav.close()">
                <mat-icon>login</mat-icon>Login
            </a>

            <a mat-list-item routerLink="/cart" (click)="sidenav.close()" *ngIf="userService.currentUser">
                <mat-icon>shopping_cart</mat-icon>
                Cart
            </a>
            <a mat-list-item routerLink="/" (click)="sidenav.close()">
                <mat-icon>storefront</mat-icon>
                Shop
            </a>
            <button mat-raised-button color="accent" *ngIf="userService.currentUser"
                (click)="openProfile(this.userService.currentUser.id)">
                {{ this.userService.currentUser.email }}
            </button>

            <button mat-raised-button color="warn" *ngIf="userService.currentUser?.role === 'admin'"
                routerLink="/admin-panel">
                ADMIN PANEL
            </button>

            <a mat-list-item *ngIf="userService.currentUser" routerLink="/"
                (click)="logOut() ; sidenav.close()"><mat-icon>logout</mat-icon>
                Log Out
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <mat-icon fxHide.gt-xs (click)="sidenav.toggle()">menu</mat-icon>

            <div routerLink="/" fxLayoutAlign="center center">
                <img routerLink="/" src="assets/favicon.png" alt="LOGO">
                <a routerLink="/">{{title}}</a>

            </div>
            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
                <a routerLink="/">SHOP</a>
                <a routerLink="/cart" *ngIf="userService.currentUser"><mat-icon>shopping_cart</mat-icon></a>
                <button mat-raised-button color="accent" *ngIf="userService.currentUser"
                    (click)="openProfile(this.userService.currentUser.id)">
                    {{ this.userService.currentUser.email }}
                </button>
                <a *ngIf="!userService.currentUser" routerLink="/login">LOGIN </a>
                <div>
                    <button routerLink="/admin-panel" color="warn" mat-raised-button color="warn"
                        *ngIf="userService.currentUser?.role === 'admin'">ADMIN PANEL</button>

                </div>

            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>